<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatterLayout pattern="%d{HH:mm:ss.SS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="logToFile" fileName="logs/app.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="mx.com.cursodia.javaEE2022" level="debug" additivity="false">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</Logger>
		<Logger name="org.springframework.boot" level="error" additivity="false">
			<AppenderRef ref="LogToConsole"/>
		</Logger>
		<Root level="error">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</Root>
	</Loggers>
</Configuration>